{% extends "base.html" %}

{% block title %}
Detalhes do Produto
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Detalhe do Produto</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Nome do Produto</h5>
            <p class="card-text">Descricao</p>
            <p class="card-text"><small class="text-muted">teste</small></p>
        </div>
        <div class="card-footer text-center">
            <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
    </div>
{% endblock %}