{% extends "base.html" %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
<div class="mt-5">
    <h2>Lista de Usuários</h2>

    <table class="table">  
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.nome_aluno }}</td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.data_nascimento }}</td>
                <td>
                    <a href="{% url 'update' %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'delete' %}"><i class="fas fa-trash-alt"></i></a>
                    <a href="{% url 'detalhe' %}"><i class="fas fa-search"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-3">
        <a href="#" class="btn btn-primary">Adicionar Novo</a>
    </div>
</div>
{% endblock %}
